/* THIS IS FOR MAKING BACKGROUND VIDEO WORK  */
*{
    color: white;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background: black;
}

#big-con{
    width: 100%;
    height: 100vh;
    max-width: 1700px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
     /* border-radius: 10px;  */
    animation: fade 1.5s ease-in-out forwards;
    opacity: 0;
}
@keyframes fade {
    to{
        opacity: 1;
    }
}

#contaner{
    width: 100%;
    height: 100%;
    overflow: auto;
}

video{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    display: block;
    object-fit: cover;
    z-index: -1;
    bottom: 0;
    margin: auto;


}

/* END OF VIDEO BACK-GROUNDDD */


/* STYLING  BOIZZ */

section{
    padding-top: 100px;
    
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: wheat;
    text-align: center;
    text-shadow:  0 0 5px wheat;
}

#footer img{
    border-radius: 100%;
    border: 2px solid #ff5555;
}
#botum{
    
    background-color: #2a2c37;
}

footeer{
    position: absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;
    color: bisque;

} 

#foot-line{
    height: 5px;
    background-color: #ff5555;
}

#jj{
    color: #ff5555;
    font-family: 'Comforter Brush', cursive;
    position: relative;
    font-size: 100px;
    min-height: 60px;
    width: 100%;
    top :85px;
    right: 1%;
    animation: fade 2s ease-in-out forwards;
    opacity: 0;
    animation-delay: 2s;
    overflow: hidden;
    text-shadow: 0 0 15px #ff5555;
}


/* END OF STYLING */

/*  THIS THE SCROLL-BARR */
/* width */
::-webkit-scrollbar {
    width: 7px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    
    border-radius: 15px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff5555a6; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #50fa7b; 
  }

/* END OF SCHROLL BAR */