
.bottomMenu_hide {
    position: fixed;
    top:0%;
    transition: all .5s;
    opacity:0;
}
.bottomMenu_show {
    position: fixed;
    top:0%;

    transition: all .5s;
    opacity:1;
}

#icon-side-pic{
    width: 45%;
    margin-top: 14%;
    margin-left: 10px;
    /* padding: 5px; */
    
}
@media only screen and (max-width: 600px){
    #icon-side-pic{
margin-top: 14%;

}
}
/* @media (max-width: 479px) */
